<div :class="propclassMain">
  <div :class="propclassDescription">
    <h1 :class="propClassTitle">{{propTitle}}</h1>
    <h2 :class="propclassText">{{propText}}</h2>
  </div>
  <img :src="propHeaderImage" :class="propclassImg">
  <div class="header__Contact__Form" v-if="propshowContactForm">
    <h2>Question?</h2>
    <p class="margin__Botton_Zero margin__Top__Zero">Our operational service team is available</p>
    <p class="margin__Top__Zero">24/7 to attend your personal requirements.</p>
    <a href="mailto:Support@BitexPRO.com">EMAIL US</a>
  </div>
  <p class="header__Contact__Form__Text" v-if="propshowContactForm">In case of token listing, Please contact us in the
    email below</p>
</div>
