@import '../../layouts/default.scss';

body {
  font-family: Poppins, sans-serif;
}

.HeaderSocial {
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
  align-items: flex-start;
  padding: 0vw 9.8vw 2vw 15.2vw;
  background: #F1F4F6;
  background-image: url('../../assets/contact/contact us.png');
  background-repeat: no-repeat;
  background-size: 102vw;
  background-position: 0vw 0vw;
  height: 20vw;
}

.HeaderSocial__Description {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: center;
  margin: 4vw 0vw;
}

.HeaderSocial__Title {
  color: white;
  margin: 0;
  font-size: 2.5vw;
}

.HeaderSocial__Text {
  color: #888B9A;
  font-size: 1vw;
  font-family: "Open Sans", sans-serif;
  width: 32vw;
  font-weight: 400;
  text-align: justify;
}

.HeaderSocial__Button {
  background: #002252;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.4vw 1.5vw;
  border-radius: 0.3vw;
  font-size: 0.9vw;
  font-weight: 300;
  width: 8vw;
  text-align: center;
  margin-top: 1vw;
}

.HeaderSocial__Image {
  width: 31vw;
}

// ======================> start Component Contact
.HeaderSocial__Contact {
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
  align-items: flex-start;
  padding: 0 9.8vw 2vw 9.8vw;
  background: #F1F4F6;
  background-image: url('../../assets/contact/contact us.png');
  background-repeat: no-repeat;
  background-size: 102vw;
  background-position: 0;
  height: 20vw;

  h2, p, a {
    font-weight: 300 !important;
  }

  a {
    border-radius: 0.5vw;
  }
}

.HeaderSocial__Description__Contact {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: center;
  margin: 2vw 0;
}

.HeaderSocial__Title__Contact {
  color: white;
  margin: 0;
  font-size: 2.5vw;
  text-align: center;
  font-weight: 300;
}

.HeaderSocial__Text__Contact {
  color: #888B9A;
  font-size: 1vw;
  font-family: "Open Sans", sans-serif;
  width: 32vw;
  font-weight: 400;
  text-align: justify;
}

.HeaderSocial__Button__Contact {
  background: #002252;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.4vw 1.5vw;
  border-radius: 0.3vw;
  font-size: 0.9vw;
  font-weight: 300;
  width: 8vw;
  text-align: center;
  margin-top: 1vw;
}

.HeaderSocial__Image__Contact {
  width: 31vw;
}

.header__Contact__Form {
  background: white;
  width: 30vw;
  height: 12vw;
  position: absolute;
  top: 8vw;
  border-radius: 1vw;
  justify-content: center;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;

  p {
    @include themify($themes) {
      color: themed('quinaryColor');
    }
  }

  a {
    color: white;
    padding: 0.5vw 2vw;
    background: linear-gradient(#b2bdc7 0%, #72859e 100%);
  }

  a:link {
    text-decoration: none;
  }
}

.header__Contact__Form__Text {
  color: white;
  position: absolute;
  top: 20vw;
}

.margin__Botton_Zero {
  margin-bottom: 0;
}

.margin__Top__Zero {
  margin-top: 0;
}

// ======================> end Component Contact

@media (max-width: 1024px) {
  //===========================> start adaptative headerSocial Contact

  //===========================> end adaptative headerSocial Contact
}
