<div class="Index">
  <HeaderSocial :title="title"
                :text="text"
                :img="img"
                link="#"
                :classDescription="classDescription"
                :classTitle="classTitle"
                :classImage="classImage"
                :classButton="classButton"
                :classMain="classMain"
                :showContactForm="true"
  />
  <div class="sectionTwo">
    <div class="sectionTwo__social">
      <a href="https://www.instagram.com/bitex_pro/" target="_blank">
        <img src="../../assets/contact/instagram.svg" alt="">
        <p class="text_white font-size-08">Instagram</p>
      </a>
    </div>
    <div class="sectionTwo__social">
      <a href="https://www.facebook.com/BITEX-PRO-105296117642973/?_rdc=1&_rdr" target="_blank">
        <img src="../../assets/contact/facebook.svg" alt="">
        <p class="text_white font-size-08">Facebook</p>
      </a>
    </div>
    <div class="sectionTwo__social">
      <a href="https://twitter.com/bitex_pro" target="_blank">
        <img src="../../assets/contact/twitter.svg" alt="">
        <p class="text_white font-size-08">Twitter</p>
      </a>
    </div>
    <div class="sectionTwo__social">
      <a href="https://twitter.com/bitex_pro" target="_blank">
        <img src="../../assets/contact/telegram.svg" alt="">
        <p class="text_white font-size-08">Telegram</p>
      </a>
    </div>
  </div>
  <div class="sectionTwo_email">
    <h2>Email</h2>
  </div>
  <div class="sectionThree">
    <div class="sectionThree_left">
      <p>Customer Support</p>
      <a href="mailto:support@bitexpro.com">
        <p class="text_white">Support@bitexpro.com</p>
      </a>
    </div>
    <div class="sectioThree_right">
      <p class="">Token Listing</p>
      <a href="mailto:listing@bitexpro.com">
        <p class="text_white">Listing@bitexpro.com</p>
      </a>
    </div>
  </div>
  <div class="sectionFour">
    <p>BitexPRO will never ask you to transfer money to any address for any reason, nor ask for your account password.
      Do
      not share your password with others. Please pay attention to fraud risks, and report any suspicious activity
      through our online customer service system or by submitting a request.</p>
  </div>
</div>
